<phpunit bootstrap="Bootstrap.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         convertErrorsToExceptions="false"
         verbose="true"
         strict="true"
    >
    <testsuites>
        <testsuite name="DAO Test Suite" >
            <directory>../Dao</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../Src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="DB_HOST" value="127.0.0.1"/>
        <const name="DB_USERNAME" value="root"/>
        <const name="DB_PASSWORD" value=""/>
        <const name="DB_DBNAME" value="dbUnitTest"/>
        <const name="DB_PORT" value=""/>
        <const name="DB_SOCKET" value=""/>
    </php>
</phpunit>
