<phpunit bootstrap="Bootstrap.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         convertErrorsToExceptions="false"
         verbose="true"
         strict="true"
    >
    <testsuites>
        <testsuite name="DAO Test Suite" >
            <directory>../Dao</directory>
        </testsuite>
    </testsuites>
    <php>
        <DB_HOST>127.0.0.1</DB_HOST>
        <DB_USERNAME>root</DB_USERNAME>
        <DB_PASSWORD>''</DB_PASSWORD>
        <DB_DBNAME>dbUnitTest</DB_DBNAME>
        <DB_PORT></DB_PORT>
        <DB_SOCKET></DB_SOCKET>
    </php>
</phpunit>
